<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Bàn Qua Chat BOT</title>
</head>

<body>
    <h1 title="hệ thống quản lý đặt bàn">
        Hệ thống quản lý đặt bàn
    </h1>
    <form method="post" action="/setup-profile">
        <button type="submit">Setup Profile</button>
    </form>
</body>

</html>